*, *:focus, *:active {
    outline: none;
    outline:0;
    
}
body{
    font-family: 'Source Sans Pro';
    background: black;
    transition: all 1s ease;
}

#container{
    width: 100vw;
    height: 80vh;
    vertical-align: center;
    /* margin-top:10vh; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 1000px;    
}

/* .banner:active .banner.front{
    transform: rotateY(180deg);
} */

#inner{
    position: relative;
  width: 100%;
  height: 100%;  
  transition: transform 1s;
  transform-style: preserve-3d;
  z-index:1;
  visibility: hidden;

}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.banner.back{
    transform: rotateY(180deg);
}

#top{
    margin:0;
    text-align: justify;
    /* height: 10vh; */
    font-size: 2em;
    padding: 20px 0 20px 0;
    color: aliceblue;
    position: relative;
    width: 100%;
}

.scores{
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: 0.5em;
    width: 7vw;
}

#youveseen{
    margin: 0;
    display: inline-block;
    text-align: center;
    width: 80%;
    /* transform: translateX(-50%); */
}



.go{
    position: absolute;
    font-family: 'Montesserat';
    font-size: 5vw;
    width:20vw;
    height: 80vh;;
    border: none;
    top:10vh;
    background: rgba(230, 194, 194, 0.8);
    margin-top:15px;
}
#next{
    left:80vw;  
    transform: translateY(-15%);
    z-index: 99;
}

#back{
    left:0;
    transform: translateY(-15%);
    z-index: 99;

}

#next:hover{
    background: rgba(44, 38, 38, 0.6);
    color: #fff;
    cursor: pointer;   
}

#back:hover{
    background: rgba(44, 38, 38, 0.6);
    color: #fff;
    cursor: pointer;   
}

#next:active,#back:active{
    outline: none;
}

#wordName, #sentences, #meaning{
    position: absolute;
    left: 50%;
}

#wordName{
    font-family: 'Montserrat';
    font-size: 5em;
    top: 30%;
    transform: translate(-50%, 0);
}

#sentences{
    font-size: 1.5em;
    top: 60%;
    transform: translate(-50%,-30%);

}

#meaning{
    top:50%;
    transform: translate(-50%,-20%);


}

#sample{
    height:20vh;
        
    opacity: 1;
}

#sentences li{
    list-style: none;
    margin:5px 5px 5px -10px;
}

h3{
    color: #fff;

}

#quiz h3{
    font-size: 1.5em;
}

#footer{
    display: inline-flex;
    margin-left: 10px;
    z-index: 101;
}

#footer h3{
    z-index: 101;
}

.box {
    width: 100px;
    margin: 0px 0px 0px 20px;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  .box label {
    font-size: 26px;
    color: #4D4D4D;
    position: absolute;
    z-index: 10;
    padding-left: 50px;
    cursor: pointer;
  }
  .box input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  .box input:checked ~ .check.one {
    border-color: #e7e135;
    box-shadow: 0px 0px 0px 15px #e7e135 inset;
  }
  .box input:checked ~ .check.two {
    border-color: #5e75db;
    box-shadow: 0px 0px 0px 15px #5e75db inset;
  }
  .box input:checked ~ .check.three {
    border-color: #9c2754;
    box-shadow: 0px 0px 0px 15px #9c2754 inset;
  }
  .box input:checked ~ .check.ans-one {
    border-color: #39e664;
    box-shadow: 0px 0px 0px 15px #220e46 inset;
  }
  .box input:checked ~ .check::after {
    opacity: 1;
    transform: scale(1);
  }
  .box .check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 100px;
    background-color: rgb(0, 0, 0, 0);
    
    transition: all 0.3s cubic-bezier(0, 1.05, 0.72, 1.07);
  }

  

  .box .check.one {
    border: 2px solid #e7e135;
    box-shadow: 0px 0px 0px 0px #e7e135 inset;
  }
  .box .check.ans-one {
    border: 2px solid #192865;
    box-shadow: 0px 0px 0px 0px #c985a4 inset;
  }
  .box .check.two {
    border: 2px solid #5e75db;
    box-shadow: 0px 0px 0px 0px #5e75db inset;
  }
  .box .check.three {
    border: 2px solid #9c2754;
    box-shadow: 0px 0px 0px 0px #9c2754 inset;
  }
  .box .check::after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 4;
    position: absolute;
    transform: scale(0);
    transition-delay: 0.2s !important;
    transition: all 0.5s cubic-bezier(0, 1.05, 0.72, 1.07);
  }

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-thumb{
    display: none;
  }

  #quiz{
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #9c2754;
    visibility: hidden;

}


#quiz .box{
    display: initial;
}

#quiz .box span{
    margin-left:30vw;
    transform: translateX(-50%);
}
#quiz .box label{
    width: 50vw;
    text-align: left;
    margin-left: 6vw;
    /* margin-top: -5vh; */
    color: #fff;
    font-family: 'Source Sans Pro';
    margin-top: -33px;
    transform: translateX(-50%);
    /* display: inline;*/
}

#qsent {
    width: 60vw;
    margin-left: 50vw;
    transform: translateX(-50%);
}

#login_screen_bg{
    
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(255, 0, 200, 0.26) 0%, rgba(15,11,69,1) 37%, rgba(0,0,0,1) 100%);
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: 100;
    filter: blur(25px);
    transform: scale(1.2);
}
#login_screen{
    filter: -5px;
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: -10vh;
    left: 0;
    z-index: 101;
}

#remember{
    opacity: 0.5;
    color: #fff;
    display: block;
    transition: 1s;
}

#remember:hover{
    cursor: pointer;
    opacity: 1;
}

#login_screen h3{
    margin-top: 30vh;
    width: 22.25vw;
    transform: translate(-50%,-50%);
    margin-bottom: 0;
    margin-left: 43.5vw;
    padding: 10px;
}

::placeholder{
    color:rgba(255, 255, 255, 0.5);
}

#input_user, #login{
    color:#fff;
    font-family: 'Source Sans Pro';
    outline: 0;
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(#ff8c00, #ff4500);
    box-shadow: 0 0 50px #ff4500;
    transition: 1s;
    transform: translateY(-50%);
  }
  #input_user:focus, #login:hover{
    cursor: pointer;
    background: linear-gradient(#7b68ee, #00bfff);
    box-shadow: 0 0 60px #00ffff;
    transition: 0.5s;
  }
  #input_user{
      width: 15vw;
  }
  #login{
      width: 2.5vw;
  }
  


@media (max-width: 1024px){
    body{
        font-size: 1.5em;
    }
    #wordName{
        font-size: 8em;
        top:40%;
        transform: translate(-50%,-50%);
    }
    .go{
        background: rgba(230, 194, 194, 0);
        font-size: 10em;
        font-weight: 100;
        color: rgb(221, 220, 220);
        /* padding-top: -5vh; */
        height: 50vh; 
    }
    #next:hover{
        background: rgba(44, 38, 38, 0.02);
        color: #fff;
        cursor: pointer;   
    }
     
    #back:hover{
        background: rgba(44, 38, 38, 0.02);
        color: #fff;
        cursor: pointer;   
    }

    #meaning{
        font-size: 1.5em;
        top:60%;
        transform:translate(-50%,-50%);
    }

    #sentences{
        font-size: 2em;
        position: absolute;
        width:90%;
        /* padding:20px; */
        top: 75%;
        transform:translate(-50%,-50%);   

    }
    #container{
        margin-top: 5vh;
        height: 65vh;
    }
    #top{
        margin-top: 5vh;
        display: inline-flex;
    }
    .scores{
        font-size: 1em;
        width: 25vw;
    }
    #youveseen{
        width: 50vw;
    }
    #footer{
        font-size: 1.2em;
        position: absolute;
        margin-left: 10px;
        width: 100vw;
        bottom: 0;
        margin-bottom: -10vh;
    }
    #footer label{
        font-size: 1.4em;
    }
    #login_screen h3{
        margin-left: 50vw;
        transform: translate(-50%, -50%);
        font-size: 2em;
    }
   #input_user, #login{
       font-size: 1.5em;
       height: 100px;
       margin-top: 50px;
   }
   #input_user{
       width: 40vw;
   }
   #remember{
       font-size: 1.5em;;
   }
   #login{
       width:10vw
   }
}