#container{
    width: 100vw;
    height: 80vh !important;
    vertical-align: center;
    margin-top:10vh;
    text-align: center;
    
}

.go{
    position: absolute;
    width:20vw;
    height: 80vh;;
    border: none;
    top:10vh;
    background: rgba(230, 194, 194, 0.8);
}
#next{
    left:80vw;  
}

#back{
    left:0;
}

#wordName, #sentences{
    position: absolute;
    left: 50%;
}

#wordName{
    font-size: 5em;
    top: 30%;
    transform: translate(-50%,-30%);
}

#sentences{
    font-size: 1.5em;
    top: 60%;
    transform: translate(-50%,-60%);

}

#sample{
    height:20vh;
        
    opacity: 1;
}

#sentences li{
    list-style: none;
    margin:5px 5px 5px -10px;
}

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar-thumb{
    display: none;
  }